<?xml version='1.0' encoding='utf-8'?>
<widget id="de.geekonaut.feedbeat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FeedBeat</name>
    <description>Decentralized, fresh feed reader</description>
    <author email="mr.avgp+appsupport@gmail.com" href="http://www.geekonaut.de/">Martin Naumann / Geekonaut</author>

    <content src="index.html" />

    <access origin="*" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="load-url-timeout" value="120000" />

    <icon src="img/icon96.png" />

    <preference name="android-minSdkVersion" value="19" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
<!--    
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
-->
</widget>
