<ion-view title="Account">
  <ion-content class="has-header padding">

    <div class="card">
      <div class="item item-divider">FeedBeat account</div>
      <div class="item item-text-wrap">
        <span ng-show="auth.user">
          Logged in as {{auth.user.email}} | <a href="#" ng-click="auth.$logout()">Logout</a>
        </span>
        <div class="list" ng-hide="auth.user">
          <label class="item item-input">
            <input type="text" placeholder="Email" ng-model="email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="password">
          </label>
          <div class="padding" style="text-align: center">
            <button class="button button-block button-positive" ng-click="logon()">Sign in</button>
            <img src="img/spinner.gif" ng-show="loading">
          </div>
        </div>
      </div>
    </div>
    
    <div ng-show="installable">
      <div class="item item-divider">Installation</div>
      <div class="item item-text-wrap">
        You can install this application to your homescreen by pressing the button below:
        
        <div class="padding">
          <button class="button button-block button-positive" ng-click="install()" ng-hide="installed">Install</button>
          <p ng-show="installed">App is already installed.</p>
        </div>
      </div>
    </div>
  
  </ion-content>
</ion-view>
